# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-action


name: Generate Cypress Report
on:
  push:
    branches:
      - 'master'

jobs:
  cypress-test:
    name: Run on Chrome 83
    runs-on: windows-latest
    container: cypress/browsers:node12.18.0-chrome83-ff77
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11 for x64
        uses: actions/setup-java@v2
        with:
            java-version: '11'
            distribution: 'adopt'
            architecture: x64
            
      - name: Install cypress and verify
        run: |
          npm i cypress 
          $(npm bin)/cypress verify
      
      - name: Run Cypress tests
        run: npm run cy:allure
        continue-on-error: true

      - name: Copy test execution videos and screenshots
        run: |
          mkdir public
          cp -r cypress/videos public/videos
          cp -r cypress/screenshots public/screenshots
      - name: Merge test reports
        run: npm run report:allure

      - name: Generate Allure report
        run: npm run allure:open
       
      
      - name: Deploy report page to GitHub Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
